.light-mode {
  .selection {
    background-color: var(--color-pure-white);
    color: var(--color-dark-navy);
  }
}

.dark-mode {
  .selection {
    background-color: var(--color-navy);
    color: var(--color-pure-white);
  }
}
