@use '../abstracts/variables';

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 100 1000;
  font-stretch: 0% 200%;
  src: url(/assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

body {
  font-family: 'Rubik';
  line-height: 100%;
  font-weight: 500;
}

h1,
.type-display {
  font-size: 14.4rem;
  line-height: 100%;
}

h2,
.type-heading-l {
  font-size: 6.4rem;
  line-height: 100%;
}

h3,
.type-heading-m {
  font-size: 3.6rem;
  line-height: 100%;
}

h4,
.type-heading-s {
  font-size: 2.8rem;
  line-height: 100%;
}

.type-medium {
  font-weight: 500;
}

.type-regular {
  font-weight: 400;
}

p,
.type-body-m {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 400;
}

.type-body-s {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 150%;
  font-weight: 400;
}
