.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  padding: 2rem;
  box-shadow: 0px 16px 40px rgba(76, 78, 81, 0.14);

  border-radius: 24px;
  column-gap: 32px;
  margin-bottom: 2rem;

  border: none;
  min-width: 50rem;
  transition: all 0.2s ease-in-out;

  &-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    opacity: 100;
    transition: 0.2s;

    &--hidden {
      opacity: 0;
      transform: translateY(-3rem);
    }
  }

  &-disabled {
    pointer-events: none;
    cursor: default;

    &:hover {
      color: inherit;
      background-color: inherit;
    }
  }

  &:hover &-option--idle {
    color: var(--color-purple);
    background-color: #f6e7ff;
  }

  &-icon {
    margin-left: auto;
  }

  &--active {
    box-shadow: inset 0 0 0 3px var(--color-purple);
  }

  &--active &-option {
    color: var(--color-pure-white);
    background-color: var(--color-purple);
  }

  &--active:hover &-option {
    color: var(--color-pure-white);
    background-color: var(--color-purple);
  }

  &--picked-correct {
    box-shadow: inset 0 0 0 3px var(--color-green);
  }

  &--picked-incorrect {
    box-shadow: inset 0 0 0 3px var(--color-red);
  }

  &-tick {
    margin-left: auto;
  }

  &-option {
    background-color: var(--color-light-grey);
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 8px;
    display: grid;
    place-content: center;
    color: var(--color-grey-navy);
    transition: all 0.2s ease-in-out;

    &--active {
      background-color: var(--color-purple);
      color: var(--color-pure-white);
    }

    &--picked-correct {
      background-color: var(--color-green);
      color: var(--color-pure-white);
    }

    &--picked-incorrect {
      background-color: var(--color-red);
      color: var(--color-pure-white);
    }

    &--html {
      background-color: var(--color-bg-html);
    }
    &--js {
      background-color: var(--color-bg-js);
    }
    &--css {
      background-color: var(--color-bg-css);
    }
    &--accessibility {
      background-color: var(--color-bg-accessibility);
    }
  }
}
