.main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  column-gap: 10vw;

  &__result {
    width: 85%;
    padding: 4.8rem;
    border-radius: 2.4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 4rem;
    box-shadow: 0 16px 40px rgba($color: #313e51, $alpha: 0.15);

    &-btn-again {
      grid-column: 2/3;
      width: 85%;
      justify-content: center;
      margin-top: 2rem;
    }

    &-heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      column-gap: 2.5rem;
    }
  }

  &__question {
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4rem;

    &-heading {
      order: 0;
    }
    // &-sub-heading {
    //   order: 1;
    // }

    &-progress-bar {
      outline: solid 0.5rem var(--color-pure-white);
      background-color: var(--color-pure-white);
      border-radius: 5rem;
      width: 100%;
      height: 0.75rem;
      margin: auto 0 0 0;

      &-progress {
        background-color: var(--color-purple);
        border-radius: 5rem;
        width: 66%;
        height: 0.75rem;
      }
    }
  }

  &__options {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
  }
}
