.main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  column-gap: 10vw;

  &__question {
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4rem;

    &-progress-bar {
      outline: solid 0.5rem var(--color-pure-white);
      background-color: var(--color-pure-white);
      border-radius: 5rem;
      width: 100%;
      height: 0.75rem;
      margin: auto 0 0 0;

      &-progress {
        background-color: var(--color-purple);
        border-radius: 5rem;
        width: 10%;
        height: 0.75rem;
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
  }
}
