.nav {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  

  &__topic,
  &__toggle {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &__toggle {
    margin-left: auto;
  }
}
